<div class="container">
<div id="<%= dom_id restaurant %>">
<div class="card">

  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= restaurant.rating %>
  </p>

  <p>
    <strong>Chef name:</strong>
    <%= restaurant.chef_name %>
  </p>


</div>
