<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
        <%= form.label  :restaurant_id, class: 'form-label' %><p>Seleccione Restaurant</p>
        <%= form.select :restaurant_id, options_from_collection_for_select(@restaurants, :id, :name, review.restaurant_id), { include_blank: "Seleccione un Edificio" }, {class: 'form-control'} %>
      </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
