<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body>
    <%= render "/layouts/horizontal_menu" %>  
    <div class="w3-container w3-red">
     <div class="row">
        <%= yield %>
      </div>
    </div> 
  </body>

  <footer>
    <a href="https://github.com/genmistic"><h5>Muchas Gracias - Luis Osorio Lomeña - IR A MI GITHUB</h5></a>
  </footer>
</html>

